h1 {
  background-color: aquamarine;
  color: #8948f2;
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}
ul {
  list-style: none;
}
ul li {
  width: 300px;
  height: 100px;
  margin-top: 5px;
  line-height: 100px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  background-color: #a763e6;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: deepskyblue;
  font-size: 27px;
}
